.custom-navbar {
    background-color: #2c3e50;
    padding: 1rem;
  }
  
  .brand-text {
    color: #ecf0f1 !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  
  .nav-link-custom {
    color: #ecf0f1 !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    margin-right: 1rem;
  }
  
  .nav-link-custom:hover {
    color: #3498db !important; 
  }
  